body {
    background: #e0e0e0;
    font-size: 20pt;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    color:       #564b47;
    overflow: hidden;
}

div.screen {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}
div.screen.active {
}
    div.screen h1 {
        display: block;
        width: 100%;
        background: #000;
        color: #fff;
        overflow: hidden;
    }
    div.screen>div {
        padding: 10px;
        background: #f0f0f0;
    }

div.log {
    border: 1px solid #564b47;
    margin: 0;
    padding: 0;
    width: 95%;
    height: 40%;
    top: 55%;
    left: 2%;
    position: absolute;
    background: #fff;
    color: #000;
    overflow: hidden;
}
    div.log div.title {
        font-weight: bold;
        background: #564b47;
        color: #f0f0f0;
        padding: 10px;
    }
    div.log div.log-data {
        padding: 5px;
    }


/**
 * Button Styles
 */
.titleButton {
    margin: 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size: 70px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}
/*
.titleButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}
    */
