body {
    overflow: hidden;
    font-family: Arial, SunSans-Regular, Sans-Serif;
}

/**
 * Screen Views
 *
 * These are the div elements that make up an entire screen
 */
div.screen {
    width: 483px;
    height: 100%;
}

/***********************************************************************************************************************
 * GENERIC VIEWS
 **********************************************************************************************************************/

/**
 * TABBED VIEWS
 */
div.tabbed-views {

}
    div.tabbed-views>div.tab-bar {
        background-image: url('images/tab_background.png');
        border-bottom: 4px solid #eeeeee;
        height: 70px;
        padding: 5px 0 0 0;
        width:  100%;
    }
        div.tabbed-views>div.tab-bar div.tab {
            background-image: url('images/tab_unselected.png');
            float: left;
            height: 70px;
            text-align: center;
            width:  118px;
        }
            div.tabbed-views>div.tab-bar div.tab img {
                margin: 8px 0 3px;
            }
                div.tabbed-views>div.tab-bar div.tab img.selected-image {
                    display: none;
                }
                div.tabbed-views>div.tab-bar div.tab img.unselected-image {
                    display: inline;
                }
            div.tabbed-views>div.tab-bar div.tab div.label {
                background-position: center 8px;
                background-repeat: no-repeat;
                color: #fff;
                padding: 50px 0 0 0;
            }
        div.tabbed-views>div.tab-bar div.tab.selected {
            background-image: url('images/tab_selected.png');
        }
            div.tabbed-views>div.tab-bar div.tab.selected img {
            }
                div.tabbed-views>div.tab-bar div.tab.selected img.selected-image {
                    display: inline;
                }
                div.tabbed-views>div.tab-bar div.tab.selected img.unselected-image {
                    display: none;
                }
            div.tabbed-views>div.tab-bar div.tab.selected div.label {
                color: #000;
            }
    div.tabbed-views>div.tab-content {
        width: 100%;
        display: none;
    }
    div.tabbed-views>div.tab-content.selected {
        display: block;
    }

/**********************************************************************************************************************/

/**
 * LIST
 */
div.list {
    width: 100%;
}
    div.list>div.header {
        background-image: url('images/list_header_background.png');
        background-repeat: repeat-x;
        color: #fff;
        padding: 10px;
    }
    div.list>div.items {
        overflow: auto;
    }
        div.list>div.items>div.item {
            background-image: url("images/list_background_unselected.png");
            background-repeat: repeat-x;
            overflow: hidden;
        }

/* Friend List */
div.list.friends>div.items.item {
    overflow: hidden;
    float: left;
}
    div.list.friends>div.items>div.item>img.picture {
        display: block;
        float: left;
        margin: 10px 10px 5px;
        height: 54px;
        width: 54px;
    }
    div.list.friends>div.items>div.item>div.details {
        margin: 12px 0 0;
        overflow: hidden;
    }
        div.list.friends>div.items>div.item>div.details>img.status {
            clear: left;
            float: left;
            height: 20px;
            overflow: hidden;
        }
        div.list.friends>div.items>div.item>div.details>div.name {
            clear: right;
            float: left;
            font-size: 1.2em;
            font-weight: bold;
            overflow: hidden;
            padding: 0 0 0 5px;
        }
        div.list.friends>div.items>div.item>div.details>div.date {
            color: blue;
            float: right;
            margin: 0 10px 0 0;
        }
        div.list.friends>div.items>div.item>div.details>div.message {
            clear: both;
            float: left;
            font-size: .9em;
            margin: 5px 0 0;
            overflow: hidden;
        }


/***********************************************************************************************************************
 * SCREEN SPECIFIC STYLES
 **********************************************************************************************************************/

/**
 * Main Screen
 */
div.screen#main>div.header {
    background-image: url('images/header_bar.png');
    background-repeat: no-repeat;
    height: 65px;
    width:  100%;
}
    div.screen#main>div.header img.logo {
        left: 136px;
        position: absolute;
        top: 5px;
        width: 210px;
    }
div.screen#main>div.tabbed-views>div.tab-bar div.tab.chats div.label {
    background-image: url('images/main_tab_chats_unselected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.chats.selected div.label {
    background-image: url('images/main_tab_chats_selected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.friends div.label {
    background-image: url('images/main_tab_friendslist_unselected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.friends.selected div.label {
    background-image: url('images/main_tab_friendslist_selected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.updates div.label {
    background-image: url('images/main_tab_updates_unselected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.updates.selected div.label {
    background-image: url('images/main_tab_updates_selected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.me div.label {
    background-image: url('images/main_tab_myprofile_unselected.png');
}
div.screen#main>div.tabbed-views>div.tab-bar div.tab.me.selected div.label {
    background-image: url('images/main_tab_myprofile_selected.png');
}

div.items {
    height: 400px;
}
